body{
color:#00FFFF
background-color #4B0082;
margin: 0px;
margin-bottom: 100px;
}
header{
    border-bottom: solid 2px blue;
    margin: 20px;
    font-size: 32px;
    color: black;
}
    
section{
padding-bottom: 80px;
padding-top: 80px;
background: gray;
display: flex;
justify-content: center;
}

@keyframes blood-drip {
    0% {
        transform: rotate(-45deg) translateY(-100px);
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        transform: rotate(-45deg) translateY(0);
        opacity: 0;
    }
}

.blood-drip {
    position: absolute;
    width: 15px;
    height: 25px;
    background: #8a0303;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    transform: rotate(-45deg);
    animation: blood-drip 2s ease-in infinite;
    opacity: 0;
    z-index: 100;
}